
<div class="modal fade" id="profile-update-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Profile Your Picture</h5>
      </div>
      <div class="modal-body">
        <form id="image-upload" enctype="multipart/form-data">
          <input type="file" name="file" />
          <input type="submit" class="btn btn-primary"/>
        </form>
      </div>
    </div>
  </div>
</div>
