<li class="nav-item" id="log-in">
  <div class="btn-group" id="myDropdown">
    <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Log-In
    </button>
    <div  id="log-in-container" class="dropdown-menu p-3 dropdown-menu-right">
    </div>
  </div>
</li>
