<li class="nav-item">
  <div class="btn-group" id="myDropdown">
    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Log-In
    </button>
    <div  id="log-in-container" class="dropdown-menu p-4 dropdown-menu-right">

    </div>
  </div>
</li>
