<h3>Write New Post</h3>
<form id="new-blogpost">
  <input type="text" required name=blogpost[title] placeholder="Name It!">
  <input type="text" required name=blogpost[postBody] placeholder="Write It!">
  <input type="submit" value="Post It!">
</form>
