<h3>Write New Post</h3>
<form id="new-blogpost">
  <div class="form-group">
    <textarea class="form-control" required rows="1" cols="60" name=blogpost[title] maxlength="60" placeholder="Name It!"></textarea>
  </div>
  <div class="form-group">
    <textarea class="form-control" required rows="12" cols="90" maxlength="8000" name=blogpost[postBody] placeholder="Write It!"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Post it!</button>
</form>
