<li id="profile">
  <a data-toggle="dropdown" class="nav-link dropdown-toggle">
    <!-- <img src="public/images/avatar.png" /> -->
    Prof
  </a>
  <ul class="dropdown-menu form-wrapper dropdown-menu-right">
    <li>
      <p class="feedback">
        <p>
        </li>
        <li>
          <form id="change-password">
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Old Password" name="passwords[old]" required="required">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="New Password" name="passwords[new]" required="required">
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Change Password">
          </form>
        </li>
        <button class="btn btn-danger" type="button" name="button" id="sign-out">Sign-Out</button>
    </ul>
  </li>
