<li id="profile" class="nav-item">
  <a data-toggle="dropdown" class="nav-link dropdown-toggle"><img src="public/images/avatar.png" /></a>
  <ul class="dropdown-menu form-wrapper">
    <li>
      <form id="sign-out">
        <input type="submit" class="sign-out" value="Sign Out" />
      </form>
    </li>
    <li>
      <p class="messagep" id="message2">
        <p>
        </li>
        <li>
          <form id="change-password">
            <div class="form-group">
              <input type="password" id="text6" class="form-control" placeholder="Old Password" name="passwords[old]" required="required">
            </div>
            <div class="form-group">
              <input type="password" id="text7" class="form-control" placeholder="New Password" name="passwords[new]" required="required">
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Change Password">
          </form>
        </li>
      </ul>
    </li>
