@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  justify-content: center;
}

.hidden {
  display: none;
}

textarea {
  display: block;
}

.a-post {
  white-space: pre-wrap;
}

img {
  border-radius: 40%;
  height: 100px;
  width: 100px;
}

.container {
  width: 70%;
}

.image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1.25em;
}

.followers-info {
  display: flex;
  flex-direction: center;
  margin-bottom: 1em;

  > span {
    flex-grow: 1;
    text-align: center;
  }
}

.password-form {
  > p {
    text-align: center;
  }
}

.profile-action-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-container {
  display: flex;
  flex-direction: row;
}

.post-title {
  flex-grow: 1;
}

.dropdown-menu {
  width: 25vw;
}

.add-comment {
  margin: 0 auto;
}

main > h5 {
  margin-top: 80px;
  text-align: center;
}

.each-post {
  border: 5px solid black;
  margin: 80px auto;
  padding: 50px;
  text-align: left;
}

.each-post > button {
  margin: 10px;
  padding: 10px;
}

.each-post > form {
  margin: 10px;
  padding: 10px;
}
