@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  background-image: url('public/rubber-ducks.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

img {
  border-radius: 40%;
  height: 100px;
  width: 100px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  justify-content: center;

  > h5 {
    margin-top: 80px;
    text-align: center;
  }
}

nav {
  height: 125px;
}

textarea {
  display: block;
}

.a-post {
  white-space: pre-wrap;
}

.add-comment {
  margin: 0 auto;
}

.container {
  width: 70%;
}

.dropdown-menu {
  width: 25vw;
}

.duck-logo {
  height: 115px;
  margin-top: 10px;

  > img {
    object-fit: contain;
    width: 410px;
  }
}

.each-post {
  border: 5px solid black;
  margin: 130px auto;
  padding: 50px;
  text-align: left;
  background-color: rgba(220, 220, 220, .8);

  > button {
    margin: 10px;
    padding: 10px;
  }

  > form {
    margin-left: -5px;
  }
}

.followers-info {
  display: flex;
  flex-direction: center;
  margin-bottom: 1em;

  > span {
    flex-grow: 1;
    text-align: center;
  }
}

.hidden {
  display: none;
}

.image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1.25em;
}

.likes {
  padding: 15px 0px;

  > button {
    margin-right: 20px;
  }
}

.password-form {
  > p {
    text-align: center;
  }
}

.post-title {
  flex-grow: 1;
}

.profile-action-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show-update-comment {
  margin-top: 20px;
}

.title-container {
  display: flex;
  flex-direction: row;

  > .post-title {
    width: 83%;

    > h3 {
      font-size: 40px;
      font-weight: bold;
    }
  }

  > .post-buttons {
    width: 17%;

    > button {
      margin: 5px auto;
    }
  }
}
